body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background: linear-gradient(
    120deg,
    #300,
    #003,
    #030,
    #330
      );
}
.draggable {
    position: absolute;
    cursor: grab;
    user-select: none;
}
.draggable:hover {
    filter: drop-shadow(0 0 4px white);
}
#game {
    position: relative;
    top: 10%; /* moves it below menu-bar */
    width: 50%;
    height: 100%;
}
.hidden {
  display: none !important;
}