#menu-bar {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 10%;
}
#menu1, #menu2, #menu3 {
    position: absolute;
    background-color: white;
    width: 10%;
    height: 100%;
    padding-left: 10%;
    border-radius: 8px;
    border-color: black;
}
#menu2 {
    transform: translateX(110%);
}
#menu3 {
    transform: translateX(220%);
}
