#menu-bar {
    position: absolute;
    /*background-color: black;*/
    width: 50%;
    /*height: 10%;*/
}
#menu1, #menu2, #menu3 {
    position: absolute;
    /*background-color: black;*/
    width: 20%;
    height: 100%;
    border-radius: 0px;
    text-align: center;
    color: black;
}
#menu1 :hover, #menu2 :hover, #menu3 :hover{
    background-color: #e0fff4;
}
#menu2 {
    transform: translateX(110%);
}
#menu3 {
    transform: translateX(220%);
}
