#menu-bar {
    position: absolute;
    /*background-color: black;*/
    width: 50%;
    margin: auto;
    /*height: 10%;*/
}
#menu1, #menu2, #menu3 {
    position: absolute;
    /*background-color: black;*/
    width: 20%;
    height: 100%;
    border-radius: 0px;
    text-align: center;
    font-family: serif;
    color: black;
    border-radius: 8px;          /* Rounded corners */
    padding: 10px;
    background-color: #5b5b5b;   /* Dark red */
}
#menu1 :hover, #menu2 :hover, #menu3 :hover{
    background-color: #0004;
}
#menu2 {
    color: #ffcdd2;              /* Light red text */
    height: 1em;
    margin: 5px;
    border: 2px solid #c32424;   /* Light red border */
    background-color: #2c1111;   /* Dark red */
}
#menu3 {
    transform: translateX(110%);
    color: #cdd0ff;              /* Light red text */
    height: 1em;
    margin: 5px;
    border: 2px solid #221ab9;   /* Light red border */
    background-color: rgb(19, 19, 32);   /* Dark red */
}
#hover-target {
  display: inline-block;
  padding: 10px;
  background-color: #0008;
  color: white;
  cursor: pointer;
}
.list {
  position: absolute;
  margin-top: 40px;
  border: 1px solid #ccc;
  display: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

#red-list {
    transform: translateX(34%);
    background: #ffe5e5; /* light red */
}

#blue-list {
  background: #e5f0ff; /* light blue */
}

#blue-list {
    left: 30%;
}
#red-list div, #blue-list div{
  padding: 8px 12px;
  cursor: pointer;
}
#red-list div:hover, #blue-list div:hover  {
  background-color: #f0f0f0;
}
#menu2:hover + #red-list,
#menu3:hover + #blue-list,
#red-list:hover,
#blue-list:hover {
  display: block;
}
