.card-wrapper {
    position: relative;
    display: inline-block;
    padding: 8px 8px 0px 0px; /* enough padding to include shadow */
}
.cardframe {
    position: relative;
    float: left;
    width: 37mm;
    height: 37mm;
    margin: 0mm;
    box-sizing: border-box;
    border: 2mm solid #626262;
    box-shadow: 
        4px 4px 0 black,
        7px 7px 0 black;
    border-top: 1mm solid gray;
    border-left: 1mm solid gray;
    border-radius: 6px;
    background: #fff;
}
.minitableau {
    position: absolute;
    display: flex;
    flex-flow: column;
    /* left: 3.5%; */
    /* margin: 0; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.info {
    position: absolute;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - .7mm);
    height: calc(100% + 1.3mm);
}
.name {
    position: relative;
    width: 100%;
    height: 25%;
    background-color: #fff0;
    width: calc(100% - 0mm);
    margin: .99mm;
    border-radius: 3px;
    box-sizing: border-box;
    z-index: 3;
}
.description {
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    top: -1mm;
    width: 100%;
    margin: 0mm 0mm 0mm 1mm;
    background-color: #eef;
}
.text {
    position: absolute;
    flex-grow: 1;
    bottom: 0mm;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0mm solid black;
}
.trigger {
    display: flex;
    min-height: 21.5px;
    text-align: center;
    align-items: center;
    font-family: mono;
    font-weight: 900;
    margin: 0mm 0mm 0mm 1mm;
    font-size: 3mm;
    bottom: 0mm;
    line-height: 1.25;
    background-color: #dddf;
    border: 0.5mm solid #0004;
    border-right: 0;
    border-radius: 4px 4px 4px 4px;
    z-index: 1;
}
.triggerarrow {
    content:'';
    border-width: 10px 7px 10px 7px;
    margin: 0 0 0 0;
    border-color: transparent transparent transparent #dddf;
    border-style: solid;
    z-index: 2; 
}
.abilityarrow {
    content:'';
    margin: 0 0 0 -13px;
    border-width: 11px 8px 11px 8px;
    border-color: transparent transparent transparent #bbbf;
    border-style: solid;
    z-index: 1; 
}
.ability {
    min-height: 21.5px;
    align-items: center;
    display: flex;
    text-align: center;
    font-family: mono;
    font-weight: 900;
    margin: 0 0 0 -16px;
    padding: 0mm 0mm 0mm 2mm;
    font-size: 3mm;
    line-height: 1.25;
    background-color: #eeef;
    border: 0.5mm solid #0004;
    border-left: 0;
    border-radius: 4px 4px 4px 4px;
}
h1 {
    font-family: sans;
    text-align: center;
    margin: 0mm;
    font-size: 3mm;
    color: #000d;
    text-shadow: 0 0 0px #000;
}
h5 {
    color: #0004;
    text-shadow: 0 0 0 #fff4;
    position: absolute;
    top: 0mm;
    right: 0.5mm;
    font-family: sans;
    font-weight: bold;
    margin: 0mm 0mm 0mm 0mm;
    font-size: 3.5mm;
}